.navbar {
    display: flex;
    background-color: aqua;
    padding: 20px;
    height: 30px;
    justify-content: space-between;
    
}

.page ul {
    display: flex;
    list-style: none;
}

.page ul li {
    padding-left: 10px;
    font-size: 18px;
}

.page ul li a {
    text-decoration: none;
}


.logo {
    font-size: 20px;

}

.login-btn {
   background-color: blue;
   padding: 20px;
   display: flex;
   align-items: center;
   margin: 0px;
   border-radius: 10%;
   font-size: 20px;
}
