.product-list {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}


.product {
    background-color: rgb(235, 239, 243);
    padding: 20px;
    border-radius: 5%;
    width: 250px;
    text-align: center;
}

.buy-btn {
    background-color: aqua;
    padding: 12px;
    font-size: 18px;
    border-radius: 10%;
    text-decoration: none;
}

.card-btn {
    background-color: rgb(47, 0, 255);
    padding: 12px;
    font-size: 18px;
    border-radius: 10%;
    margin-left: 20px;
    cursor: pointer;
}
